body {
    padding: 5px;
}

#myDel {
    width: 130px;
    height: 90px;
    border: 3px solid #0000cc;
    border-radius: 10px;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.container {
    text-align: center;
}